.mainboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_table{
	margin-left: 5px;
	margin-right: 5px;
}

.page_name{
    text-align:center;
}

.card_table{
    background-color: #CEF6F5;
    border-style: outset;
    border-radius: 20px 20px 20px 20px;
}
.user_name{
	width:30%;
}
.user_logout{
	widht:70%;	
	align:right;
}
form.main_form{
	background-color: whitesmoke;
	border-style: outset;
	border-radius: 20px 20px 20px 20px;
}

.btn_logou{
	display: flex;
    align-items: center;
    justify-content: center;
}
.btn_logout{
	box-sizing: border-box;
	color: white;
	background-color:orange;
}
.btn_card{
	display: flex;
    align-items: center;
    justify-content: center;
}
.create_card{
	box-sizing:border-box;
	color:white;
	background-color:orange;
}