.start_board{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.main_table{
    background-color: white;
    width: 300px;
    height: 300px;
    
    text-align:center;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius:20px 20px 20px 20px;
    border-style: outset;
}

.btn_login{
    align: center;
    width: 80%;
    height: 40%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px gray;
    font-size:16px;
    background-color:black;
    color:white;
}
.btn_join{
    width: 80%;
    height: 40%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px gray;
    font-size:16px;
    background-color:black;
    color:white;
}